{% extends 'layout.html' %}

{% block title %}
    Meal Count
{% endblock %}

{% block main %}
    <h1>
        Meal Count
    </h1>
    <br>
    <div class="container">
        <div class="row">
            {% for meal in meal_count %}
                <div class="col-6 mb-3">
                    {{ meal }}
                </div>
                <div class="col-6 mb-3">
                    {{ meal_count[meal] }}
                </div>
            {% endfor %}
            </div>
    </div>
{% endblock %}