{% extends 'layout.html' %}

{% block title %}
    Users
{% endblock %}

{% block main %}
    <div class="container">
        <form action="/users" method="POST">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a class="btn-dark btn-lg" href="/users/add">Add New User</a>
                        </td>
                        <td>
                            <a class="btn-dark btn-lg" href="/users/manage">Manage Existing Users</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}